#about {

  .background-layer {
    background: var(--color-two);
  }

  .header {
    font-size: 400%;
    text-align: center;
  }
  
  .go-to-home-container {
    position: absolute;
    left: 0%;
    top: 40%;
    cursor: pointer;
    font-size: 200%;
    transform: rotateZ(90deg);
  }

  .go-to-works-container {
    position: absolute;
    bottom: 4%;
    left: 45%;
    cursor: pointer;
    font-size: 200%;
  }
}