#about {

  .background-layer {
    background: var(--color-four);
    display: flex;
    align-items: flex-end;
    padding-left: 75%;
    font-size: 300%;
    color: var(--color-one-title);

    span {
      font-family: 'Courier New', Courier, monospace;
      margin: {
        left: 8px;
      }
    }
  }

  .page {
    position: relative;
    background: var(--color-two);
    transition: 0.6s;
    
    &.pull-up {
      margin-top: -55px;
    }
  }

  .shapes-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 10px solid red;
    background: transparent;
    // border-width: 0px !important;
    // z-index: 9999;

    .line-1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60vh;
      background: darkgoldenrod;
      transform: skew(45deg);
      transform-origin: top left;
      opacity: 0.4;
    }

    .line-2 {
      position: absolute;
      top: 60vh;
      left: 30.5vw;
      width: 60px;
      height: 40vh;
      background: darkgoldenrod;
      transform: skew(-45deg);
      transform-origin: top left;
      opacity: 0.4;
    }
  }
  
  .back-sheet {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0px solid var(--color-four-title);
    // border-color: transparent;
    
    .shapes-container {
      top: 0;
      left: 0;
      background: skyblue;
      background: transparent;
    }
  }
  
  .content {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    border: 10px solid var(--color-three-title);
    border-radius: 20px;
    background: transparent;
    // overflow: hidden;
    
    .content-sheet {
      position: absolute;
      width: 45%;
      height: 90%;
      top: 5%;
      left: 2.5%;
      border: 10px solid var(--color-one-title);
      border-radius: 20px;
      background: var(--color-one);
      // overflow: hidden;
      
      .shapes-container {
        top: -37%;
        left: -62%;
        border-color: green;
        border-width: 7px;
        background: indigo;
        background: transparent;
      }
    }
    
    .front-sheet {
      position: absolute;
      width: 45%;
      height: 90%;
      top: 5%;
      left: 52.5%;
      border: 10px solid var(--color-three-title);
      border-radius: 20px;
      background: var(--color-one);
      // overflow: hidden;
      
      .shapes-container {
        top: -37%;
        left: -178.5%;
        border-color: blue;
        border-width: 3px;
        background: hotpink;
        background: transparent;
      }
    }
  }
  
  .header {
    font-size: 400%;
    text-align: center;
  }
  
  .go-to-home-container {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      overflow: hidden;
      
      &:hover {

        path {
          d: path("M 0 0 Q 130 300 0 600");
        }

        text {
          transform: translate(21px, 38vh) rotateZ(90deg);
          font-size: 220%;
        }
      }
      
      path {
        fill: var(--color-one-title);
        cursor: pointer;
        d: path("M 0 0 Q 65 300 0 600");
      }
      
      text {
        transform: translate(10px, 38vh) rotateZ(90deg);
        font-size: 160%;
        cursor: pointer;
        fill: var(--color-three-title);
        font-family: 'Courier New', Courier, monospace;
      }
    }
  }

  .go-to-works-container {
    position: absolute;
    width: 50px;
    height: 70px;
    bottom: 0;
    right: 26%;
    cursor: pointer;
    font-size: 200%;
    z-index: 3;
    background: var(--color-one);
    border: 3px solid var(--color-one-title);
    border-bottom-color: transparent;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    transition: 0.3s;
    
    &:hover {
      height: 110px;
    }
  }
}