#contact {
  --go-to-home-width: 60px;
  
  .background {
    color: rgba(129, 129, 129, 0.1);
    font-size: 2500%;
    background: #0000;
    z-index: -1;
    filter: blur(5px);
    
    .line-one {
      position: absolute;
      left: 0;
      top: -5vh;
    }
    
    .line-two {
      position: absolute;
      top: 40vh;
      left: 25vw;
    }
  }
  
  .go-to-works-container {
    position: absolute;
    width: 370px;
    height: 45px;
    top: 85%;
    right: -25px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 200%;
    background: transparent;
    border: 1px solid var(--color-one-title);
    border-right-color: transparent;
    font-size: 34px;
    color: var(--color-three-title);
    transform: skew(45deg);
    
    &:hover {
      padding-left: 70px;
    }
    
    .text {
      transform: skew(-45deg);
      
      span {
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
      }
    }
  }
  
  .go-to-home-container {
    position: absolute;
    width: var(--go-to-home-width);
    height: var(--go-to-home-width);
    left: calc((100vw - var(--go-to-home-width)) / 2);
    top: 20px;
    // border: 1px solid red;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    
    .go-to-home {
      position: relative;
      width: 100%;
      height: 100%;
      // border: 1px solid black;
      // overflow: hidden;
    }
    
    &:hover {
      
      .arrow {
        border: none;
        height: 0;
        
        .line {
          height: 0;
        }
      }
      
      .text {
        top: 0;
        left: calc(var(--go-to-home-width) * -0.7);
        width: calc(var(--go-to-home-width) * 2.4);
        height: var(--go-to-home-width);
        font-size: calc(var(--go-to-home-width) * 0.7);
        border: 2px solid var(--color-four-title);
      }
    }
    
    .arrow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--color-one);
      border: 2px solid var(--color-four-title);
      border-radius: 9999px;
      overflow: hidden;
      
      .line {
        position: absolute;
        width: 4px;
        height: 25px;
        background: var(--color-one-title);
      }
      
      .line-one {
        transform: rotateZ(45deg) translateX(17px) translateY(-11px);
      }
      
      .line-two {
        height: 40px;
        transform: translateX(28px) translateY(10px);
      }
      
      .line-three {
        transform: rotateZ(-45deg) translateX(22px) translateY(28px);
        
      }
    }
    
    .text {
      position: absolute;
      width: 0;
      height: 0;
      top: calc(var(--go-to-home-width));
      left: calc(var(--go-to-home-width) * 0.5);
      background: var(--color-one);
      border: none;
      border-radius: 9999px;
      text-align: center;
      color: var(--color-one-title);
      font-size: 0;
      padding-top: calc(var(--go-to-home-width) * 0.10)
    }
  }
  
  .page.on {
    display: flex !important;
  }

  .social {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item-container {
      position: relative;
      width: 300px;
      height: 200px;
      margin: 20px;
      font-size: 170%;
      border-radius: 9px;
      cursor: pointer;
      color: var(--color-one-title);
      transform: skew(10deg);
      
      &:hover {
        
        .item {
          transform: translateX(-14px) translateY(-14px);

          .text {
            transform: skew(-10deg) translateX(14px) translateY(14px);
          }
        }
      }
      
      .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px;
        background: var(--color-two);
        border-radius: 9px;
        border: 3px solid var(--layers-border-color);
        border-radius: 9px;
        
        .text {
          transform: skew(-10deg);
          font-weight: bolder;
        }
      }
      
      .item-border {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 99%;
        height: 99%;
        border: 4px dashed var(--color-one-title);
        background: var(--color-one-title);
        z-index: -1;
        border-radius: 9px;
      }
    }
  }
  
  #form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;

    .form-header {
      margin-bottom: 50px;
      font-weight: 100;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--color-three);
      border-right: 2px solid var(--color-three);
      box-shadow: 0px 14px 10px -10px var(--color-two);
      transform: skew(45deg);
      
      h2 {
        transform: skew(-45deg);
      }
    }

    .form-group {
      max-width: 200px;
      height: 40px;
      position: relative;
      margin-bottom: 35px;

      &:hover {

        .input-side-rect {
          background: var(--color-four);  
        }
      }
    }
    
    label {
      position: absolute;
      margin: 0;
      padding: 0;
      top: -20px;
      margin-left: 40px;
      color: var(--color-four);
    }
    
    input[type="text"] {
      position: absolute;
      height: 40px;
      padding: 0;
      margin: 0;
      padding-left: 40px;
      margin-bottom: 10px;
      background: var(--color-four-title);
      background: transparent;
      color: var(--color-three);
      font-size: 150%;
      border: 1px solid var(--color-four-title);
      border-right-color: transparent;
      z-index: 2;
    }
    
    .input-side-layer {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 80px;
      height: 40px;
      right: -60px;
      background: var(--color-four-title);
      background: transparent;
      border: 1px solid var(--color-four-title);
      border-left-color: transparent;
      transform: skew(45deg);
      z-index: 1;
    }

    .submit-side-layer {
      @extend .input-side-layer;
      width: 60px;
      height: 50px;
      top: 3px;
      right: -40px;
      border: 1px solid var(--color-two-title);
      border-left-color: transparent;
      background: var(--color-two);
    }
    
    .input-side-rect {
      position: absolute;
      width: 15px;
      height: 40px;
      left: -25px;
      background: var(--color-three);
    }
    
    input[type="submit"] {
      border: none;
      width: 170px;
      padding: 12px;
      margin-left: 40px;
      background: var(--color-two);
      color: var(--color-three-title);
      cursor: pointer;
      font-size: 150%;
      border: 1px solid var(--color-two-title);
    }
  }
}