#contact .go-to-works-container {
  position: absolute;
  top: 50%;
  right: -5%;
  cursor: pointer;
  font-size: 200%;
  transform: rotateZ(-90deg);
}

#contact .go-to-home-container {
  position: absolute;
  left: 45%;
  top: 2%;
  cursor: pointer;
  font-size: 200%;
}