#contact {

  .background {
    color: rgba(129, 129, 129, 0.1);
    font-size: 2500%;
    background: #0000;
    z-index: -1;
    filter: blur(5px);
    
    .line-one {
      position: absolute;
      left: 0;
      top: -5vh;
    }
    
    .line-two {
      position: absolute;
      top: 40vh;
      left: 25vw;
    }
  }
  
  .go-to-works-container {
    position: absolute;
    top: 85%;
    right: -25px;
    width: 370px;
    cursor: pointer;
    font-size: 200%;
    background: transparent;
    border: 1px solid var(--color-one-title);
    border-right-color: transparent;
    height: 50px;
    font-size: 40px;
    padding-left: 30px;
    color: var(--color-three-title);
    transform: skew(-45deg);
    
    &:hover {
      padding-left: 70px;
    }

    .text {
      transform: skew(45deg);
    }
  }
  
  .go-to-home-container {
    position: absolute;
    left: 45%;
    top: 2%;
    cursor: pointer;
    font-size: 200%;
  }
  
  .page.on {
    display: flex !important;
  }

  .social {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item-container {
      position: relative;
      width: 300px;
      height: 200px;
      margin: 20px;
      font-size: 170%;
      border-radius: 9px;
      cursor: pointer;
      color: var(--color-three-title);
      transform: skew(10deg);
      
      &:hover {
        
        .item {
          transform: translateX(-14px) translateY(-14px);
        }
      }
      
      .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px;
        background: var(--color-two);
        border-radius: 9px;
        border: 3px solid var(--layers-border-color);
        border-radius: 9px;
        
        .text {
          transform: skew(-10deg);

        }
      }
      
      .item-border {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 99%;
        height: 99%;
        border: 4px dashed var(--color-one-title);
        z-index: -1;
        border-radius: 9px;
      }
    }
  }
  
  #form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;

    .form-header {
      margin-bottom: 50px;
      font-weight: 100;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--color-three);
      border-right: 2px solid var(--color-three);
      box-shadow: 0px 14px 10px -10px var(--color-two);
      transform: skew(45deg);
      
      h2 {
        transform: skew(-45deg);
      }
    }

    .form-group {
      max-width: 200px;
      height: 40px;
      position: relative;
      margin-bottom: 35px;

      &:hover {

        .input-side-rect {
          background: var(--color-four);  
        }
      }
    }
    
    label {
      position: absolute;
      margin: 0;
      padding: 0;
      top: -20px;
      margin-left: 40px;
      color: var(--color-four);
    }
    
    input[type="text"] {
      position: absolute;
      height: 40px;
      padding: 0;
      margin: 0;
      padding-left: 40px;
      margin-bottom: 10px;
      background: var(--color-four-title);
      background: transparent;
      color: var(--color-three);
      font-size: 150%;
      border: 1px solid var(--color-four-title);
      border-right-color: transparent;
      z-index: 2;
    }
    
    .input-side-layer {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 80px;
      height: 40px;
      right: -60px;
      background: var(--color-four-title);
      background: transparent;
      border: 1px solid var(--color-four-title);
      border-left-color: transparent;
      transform: skew(45deg);
      z-index: 1;
    }

    .submit-side-layer {
      @extend .input-side-layer;
      width: 60px;
      height: 50px;
      top: 3px;
      right: -40px;
      border: 1px solid var(--color-two-title);
      border-left-color: transparent;
      background: var(--color-two);
    }
    
    .input-side-rect {
      position: absolute;
      width: 15px;
      height: 40px;
      left: -25px;
      background: var(--color-three);
    }
    
    input[type="submit"] {
      border: none;
      width: 170px;
      padding: 12px;
      margin-left: 40px;
      background: var(--color-two);
      color: var(--color-three-title);
      cursor: pointer;
      font-size: 150%;
      border: 1px solid var(--color-two-title);
    }
  }
}