#home {
  --go-to-contact-width: 60px;
  --mouse-x: 0;
  --mouse-y: 0;

  .background-layer {
    background: var(--color-one);
  }

  .go-to-contact-container {
    position: absolute;
    width: var(--go-to-contact-width);
    height: var(--go-to-contact-width);
    left: calc((100vw - var(--go-to-contact-width)) / 2);
    bottom: 20px;
    background: var(--color-one-title);
    color: var(--color-four-title);
    border: 1px solid var(--color-one-title);
    border-radius: 19px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    
    .go-to-contact {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    &:hover {
      width: calc(var(--go-to-contact-width) * 3.2);
      left: calc((100vw - var(--go-to-contact-width) * 3.2) / 2);
      
      .arrow {
        bottom: calc(var(--go-to-contact-width) * -1);
        left: calc(var(--go-to-contact-width) * 1.1);
      }
      
      .text {
        bottom: 0;
        left: 0;
        width: calc(var(--go-to-contact-width) * 3.2);
        font-size: calc(var(--go-to-contact-width) * 0.7);
      }
    }
    
    .arrow {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: transparent;
      border: none;
      overflow: hidden;
      
      .line {
        position: absolute;
        width: 3px;
        height: 25px;
        background: var(--color-four-title);
      }
      
      .line-one {
        transform: rotateZ(135deg) translateX(7px) translateY(-35px);
      }
      
      .line-two {
        height: 40px;
        transform: translateX(28px) translateY(10px);
      }
      
      .line-three {
        transform: rotateZ(45deg) translateX(46px) translateY(-5px);
      }
    }
    
    .text {
      position: absolute;
      width: calc(var(--go-to-contact-width) * 2.4);
      height: var(--go-to-contact-width);
      bottom: calc(var(--go-to-contact-width) * -1);
      left: calc(var(--go-to-contact-width) * -0.7);
      padding-top: calc(var(--go-to-contact-width) * 0.15);
      border: none;
      text-align: center;
    }
  }
  
  .go-to-about-container {
    svg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      transform: rotateY(180deg);
      display: flex;
      
      &:hover {
        
        path {
          d: path("M 0 0 Q 130 300 0 600");
        }

        text {
          transform: translate(21px,50vh) rotateZ(90deg) rotateY(180deg);
          font-size: 220%;
        }
      }
      
      path {
        fill: var(--color-two-title);
        cursor: pointer;
        d: path("M 0 0 Q 65 300 0 600");
      }
      
      text {
        transform: translate(10px,48vh) rotateZ(90deg) rotateY(180deg);
        font-size: 160%;
        cursor: pointer;
        fill: var(--color-four-title);
        font-family: 'Courier New', Courier, monospace;
      }
    }
  }
}