/* pages container */
.pages {
  position: absolute;
  transition: 1s;
}

.pages.zoom-out {
  width: 100vw;
  height: 100vh;
}

.pages.zoom-in {
  width: 200vw;
  height: 200vh;
}

.pages.top-left {
  top: 0;
  left: 0;
}

.pages.top-right {
  top: 0;
  right: 0;
}

.pages.bottom-left {
  bottom: 0;
  left: 0;
}

.pages.bottom-right {
  bottom: 0;
  right: 0;
}

.layer.is {
  opacity: 1;
  font-size: 500%;
}

.layer.not {
  opacity: 0;
  z-index: -9999;
  animation: fadeOut 0.3s ease-out;
}

/* back frame */
#back-frame {
  border: 1px solid #999;
  /* width: 100vw; */
  /* height: 100vh; */
  border-radius: 10vh;
  /* margin: 8vh 8vw; */
  position: fixed;
  top: 8vh;
  bottom: 8vh;
  left: 8vw;
  right: 8vw;
}

/* back scroll */
#back-scroll {
  display: none;
}

/* HOME */
.page-container {
  position: absolute;
  width: 50%;
  height: 50%;
}

.zoom-out .page-container:hover {
  width: 51%;
  height: 51%;
}

#home.page-container {
  top: 0;
  left: 0;
}

#about.page-container {
  top: 0;
  right: 0;
}

#works.page-container {
  bottom: 0;
  right: 0;
}

#contact.page-container {
  bottom: 0;
  left: 0;
}

.page {
  border: 2px solid red;
  border-radius: 60px;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 500%;
  cursor: crosshair;
  padding: 2%;
  text-align: center;
}

#home .layer {
  background: yellowgreen;
}

#about .layer {
  background: sandybrown;
}

#works .layer {
  background: magenta;
}

#contact .layer {
  background: gold;
}

/* test for now */
.dest-works {
  /* bottom: 0 !important; */
  /* right: 0 !important; */
  animation: goToWorksAnim 1s ease-in-out;
}

@keyframes goToWorksAnim {
  0% {
    bottom: initial;
    right: initial;
  }
  100% {
    bottom: 0;
    right: 0;
  }
}