/* pages container */
.pages {
  position: absolute;
  transition: 1s;
}

.pages.zoom-out {
  width: 100vw;
  height: 100vh;
}

.pages.zoom-in {
  width: 200vw;
  height: 200vh;
}

.pages.top-left {
  top: 0;
  left: 0;
}

.pages.top-right {
  top: 0;
  right: 0;
}

.pages.bottom-left {
  bottom: 0;
  left: 0;
}

.pages.bottom-right {
  bottom: 0;
  right: 0;
}

.layer.is {
  opacity: 1;
}

.back-layer.is {
  opacity: 1;
}

.layer.not {
  opacity: 0;
  animation: fadeOut 0.3s ease-out;
}

.back-layer.not {
  opacity: 0;
  animation: fadeOut 0.2s ease-out;
}

/* back scroll */
#back-scroll {
  display: none;
}

.page-container {
  position: absolute;
  width: 50%;
  height: 50%;
}

.transiting .page-container, .zoom-out .page-container {
  opacity: 0.92;
}

.zoom-out .layer:hover {
  filter: brightness(115%);
}

.zoom-out .back-layer:hover {
  filter: brightness(115%);
}

#home.page-container {
  top: 0;
  left: 0;
}

#about.page-container {
  top: 0;
  right: 0;
}

#works.page-container {
  bottom: 0;
  right: 0;
}

#contact.page-container {
  bottom: 0;
  left: 0;
}

.page {
  border: 2px solid red;
  border-radius: 60px;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  text-align: center;
  font-size: 500%;
  padding-top: 23%;
}

.back-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.layer h1 {
  font-size: 14vh;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

#home .layer {
  background: tan;
}

#home h1 {
  color: teal;
}

#home .back-layer {
  background: teal;
}

#about .layer {
  right: 0;
  background: teal;
}

#about h1 {
  color: thistle;
}

#about .back-layer {
  background: thistle;
}

#works .layer {
  right: 0;
  background: thistle;
}

#works h1 {
  color: tomato;
}

#works .back-layer {
  background: tomato;
}

#contact .layer {
  background: tomato;
}

#contact h1 {
  color: tan;
}

#contact .back-layer {
  background: tan;
}

#home .layer, #about .layer, #contact h1, #works h1, #contact .back-layer, #works .back-layer {
  transform: skew(57.6deg);
  transform: skew(45deg);
  transform: skew(0);
}

#contact .layer, #works .layer,#home h1, #about h1,  #home .back-layer, #about .back-layer {
  transform: skew(-57.6deg);
  transform: skew(-45deg);
  transform: skew(0);
}