/* pages container */
.pages {
  position: absolute;
  transition: 1s;
}

.pages.zoom-out {
  width: 100vw;
  height: 100vh;
}

.pages.zoom-in {
  width: 200vw;
  height: 200vh;
}

.pages.top-left {
  top: 0;
  left: 0;
}

.pages.top-right {
  top: 0;
  right: 0;
}

.pages.bottom-left {
  bottom: 0;
  left: 0;
}

.pages.bottom-right {
  bottom: 0;
  right: 0;
}

.layer.is {
  opacity: 1;
}

.back-layer.is {
  opacity: 1;
}

.layer.not {
  opacity: 0;
  animation: fadeOut 0.3s ease-out;
}

.back-layer.not {
  opacity: 0;
  animation: fadeOut 0.2s ease-out;
}

.side-layer.not {
  opacity: 0;
  animation: fadeOut 0.2s ease-out;

}

/* back scroll */
#back-scroll {
  display: none;
}

.page-container {
  position: absolute;
  width: 50%;
  height: 50%;
}

.transiting .page-container, .zoom-out .page-container {
  opacity: 0.92;
}

.zoom-out .layer:hover, .zoom-out .back-layer:hover, .zoom-out .side-layer:hover {
  filter: brightness(115%);
}

#home.page-container {
  top: 0;
  left: 0;
}

#about.page-container {
  top: 0;
  right: 0;
}

#works.page-container {
  bottom: 0;
  right: 0;
}

#contact.page-container {
  bottom: 0;
  left: 0;
}

.page {
  border: 2px solid red;
  border-radius: 60px;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  text-align: center;
  font-size: 500%;
  padding-top: 22%;
}

.back-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.side-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.layer h1 {
  font-size: 14vh;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

#home .layer {
  background: tan;
}

#home h1 {
  color: teal;
}

#home .back-layer {
  background: teal;
}

#home .side-layer {
  background: tomato;
  left: -100%;
}

#about .layer {
  right: 0;
  background: teal;
}

#about h1 {
  color: thistle;
}

#about .back-layer {
  background: thistle;
}

#about .side-layer {
  background: tan;
  left: 100%;
}

#works .layer {
  right: 0;
  background: thistle;
}

#works h1 {
  color: tomato;
}

#works .back-layer {
  background: tomato;
}

#works .side-layer {
  background: teal;
  left: 100%;
}

#contact .layer {
  background: tomato;
}

#contact h1 {
  color: tan;
}

#contact .back-layer {
  background: tan;
}

#contact .side-layer {
  background: thistle;
  left: -100%;
}

#home .layer,
#about .layer,
#contact h1,
#works h1,
#contact .back-layer,
#works .back-layer,
#works .side-layer,
#contact .side-layer {
  transform: skew(45deg);
}

#contact .layer,
#works .layer,#home h1,
#about h1,
#home .back-layer,
#about .back-layer,
#home .side-layer,
#about .side-layer {
  transform: skew(-45deg);
}


.transiting .layer,
.transiting .back-layer,
.transiting .side-layer,
.transiting h1 {
  transform: skew(0) !important;
  transition: 1s;
  border-radius: 0;
}

.transiting.come #contact .layer,
.transiting.come #works .layer,
.transiting.come #home h1,
.transiting.come #about h1,
.transiting.come #home .back-layer,
.transiting.come #about .back-layer,
.transiting.come #home .side-layer,
.transiting.come #about .side-layer {
  animation: layersComeAnim1 1.31s ease-in-out;
}

.transiting.come #home .layer,
.transiting.come #about .layer,
.transiting.come #contact h1,
.transiting.come #works h1,
.transiting.come #contact .back-layer,
.transiting.come #works .back-layer,
.transiting.come #works .side-layer,
.transiting.come #contact .side-layer {
  animation: layersComeAnim2 1.31s ease-in-out;
}

.transiting .page {
  opacity: 0;
  transition: 0.1s;
}

.traversing .layer {
  opacity: 1;
}

.traversing .page {
  opacity: 0;
  transition: 0.1s;
}

.zoom-in .layer, .zoom-in .layer h1 {
  transform: skew(0deg) !important;
  /* transition: 0s !important; */
}

.pages.dest-bottom-right {
  animation: hfbvjxf 1s ease-in-out;
}

@keyframes hfbvjxf {
  0% {

  }
  100% {
    bottom: 0;
    /* right: 0.1vh; */
    left: -100vw;
  }
}

@media (max-width: 900px) {
  body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  
  .pages.zoom-out {
    width: 100vw;
    height: 400vh;
    left: 0;
    top: 0;
  }
  
  .pages.zoom-in {
    width: 100vw;
    height: 400vh;
    left: 0;
    top: 0;
  }

  .pages.top-right {
    top: 0;
  }
  
  .pages.top-right {
    /* top: -100vh; */
    top: 0;
  }
  
  .pages.bottom-right {
    /* top: -200vh; */
    top: 0;
  }
  
  .pages.bottom-left {
    /* top: -300vh; */
    top: 0;
  }

  .page-container {
    left: 0;
    right: 0;
    width: 100%;
    height: 25%;
  }

  #home.page-container {
    margin-top: 0;
  }

  #about.page-container {
    margin-top: 100vh;
  }

  #works.page-container {
    margin-bottom: 100vh;
  }

  #contact.page-container {
    margin-top: 300vh;
  }
}