#works {
  .background-layer {
    background: var(--color-three);
    color: var(--color-three-title);
    font-size: 300%;
    padding-left: 75%;

    span {
      font-family: 'Courier New', Courier, monospace;
    }
  }
  
  .page {
    display: flex;
    background: var(--color-two);
    z-index: -1;
    transition: 0.6s;
    
    &.pull-down {
      margin-top: 55px;
    }
  }
  
  .go-to-contact-container {
    position: absolute;
    top: 85%;
    left: -25px;
    width: 370px;
    cursor: pointer;
    font-size: 200%;
    background: transparent;
    border: 1px solid var(--color-one-title);
    border-left-color: transparent;
    height: 50px;
    font-size: 40px;
    padding-left: 110px;
    color: var(--color-one-title);
    transform: skew(45deg);
    z-index: 3;
    
    &:hover {
      padding-left: 80px;
    }
    
    .text {
      transform: skew(-45deg);
      
      span {
        font-family: 'Courier New', Courier, monospace;
      }
    }
  }
  
  .go-to-about-container {
    position: absolute;
    width: 50px;
    height: 70px;
    top: 0;
    right: 26%;
    cursor: pointer;
    font-size: 200%;
    z-index: 3;
    background: var(--color-one);
    border: 3px solid var(--color-one-title);
    border-top-color: transparent;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    transition: 0.6s;
    
    &:hover {
      height: 110px;
      border-color: var(--color-four-title);
    }
  }

  .a-work-is-active {
    .work {

      &.opened {
        flex-grow: 1;

        .work-details {
          width: 80%;
          margin-top: 10px;
          opacity: 1;
        }
          
        &.reverse {

          .title {
            color: var(--color-three-title);
          }

          .buttons-panel {

            .button {
              transform: skew(15deg);
                
              .text {
                transform: skew(-15deg);
              }
            }
          }
        }
        
        .background {
          width: 100%;
        }

        .title {
          color: var(--color-two-title);
          margin-left: -60%;
        }

        .work-description {
          margin-top: 20px;
          margin-left: -50%;
          opacity: 1;
        }

        .buttons-panel {
          margin-top: 20px;

          .button {
            opacity: 1;
            transform: skew(-15deg);
            
            .text {
              transform: skew(15deg);
            }
          }
          
          .gh {
            opacity: 1 !important;
            width: initial;
            padding: 10px 20px;
            overflow: visible;
          }
          
          .view {
            opacity: 1 !important;
            width: initial;
            padding: 10px 20px;
            overflow: visible;
          }
        }
      }
      
      &.closed {
        flex-shrink: 1;

        .work-details {
          width: 0;
        }
      }
    }
  }
  
  .no-works-active {
    .work {
      flex-grow: 1;
    }
  }
  
  .work {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    cursor: default;
    z-index: 1;
    
    &:hover {
      
      &.reverse {
        .title {
          color: var(--color-three-title);
        }
        
        .buttons-panel {
          
          .button {
            transform: skew(15deg);
            
            .text {
              transform: skew(-15deg);
            }
          }
        }
      }
      
      .background {
        width: 100%;
      }
      
      .title {
        color: var(--color-two-title);
      }
      
      .work-description {
        margin-top: 20px;
        opacity: 1;
      }
      
      .buttons-panel {
        margin-top: 20px;
        
        .button {
          opacity: 1;
          transform: skew(-15deg);
          
          .text {
            transform: skew(15deg);
          }
        }
        
        .gh {
          opacity: 0;
        }
        
        .view {
          opacity: 0;
        }
      }
    }
    
    &.reverse {
      .background {
        transform: skew(15deg);
        background: var(--color-three-o);
      }

      .work-description {
        color: var(--color-four);
      }
      
      .buttons-panel {
        
        .button {
          background: var(--color-three-title);
          color: var(--color-two);
        }
      }
    }
    
    .background {
      position: absolute;
      top: 0;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background: var(--color-four-o);
      border: 3px solid var(--layers-border-color);
      border-top-color: transparent;
      border-bottom-color: transparent;
      transform: skew(-15deg);
      overflow: hidden;
      z-index: 0;
    }
    
    .title {
      color: var(--color-four-title);
      z-index: 2;
      text-shadow: 3px 3px 0px var(--color-three-o);
    }
    
    .work-description {
      font-size: 25%;      
      opacity: 0;
      z-index: 1;
      margin-top: -30px;
      color: var(--color-two);
    }
    
    .work-details {
      width: 0%;
      height: 20%;
      z-index: 1;
      margin-top: -130px;
      display: flex;
      flex-direction: row;
      padding: 0px;
      border: 1px solid red;
      opacity: 0;
      display: none;

      .work-image {
        flex-grow: 1;
        flex-basis: 50%;
        border: 1px solid red;
        background-image: url('../../../screenShots/formi.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
      }
      
      .work-text {
        flex-grow: 1;
        flex-basis: 50%;
        font-size: 25%;      
        background: #6c9;
        border: 1px solid red;
        overflow: hidden;
      }
    }
    
    .buttons-panel {
      position: relative;
      width: 80%;
      z-index: 1;
      text-align: center;
      margin-top: -40px;
      line-height: 0;
      
      .button {
        display: inline-block;
        opacity: 0;
        margin-top: 0;
        font-size: 30%;
        background: var(--color-two-title);
        color: var(--color-four-title);
        cursor: pointer;
        line-height: initial;
      }
      
      .toggle {
        left: 10%;
        padding: 10px 20px;
      }
      
      .gh {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0;
        padding: 0;
        overflow: hidden;
      }
      
      .view {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 0;
        padding: 0;
        overflow: hidden;
      }
    }
  }
}