@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes layersComeAnim1 {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-45deg);
  }
}

@keyframes layersComeAnim2 {
  0% {
    transform: skew(0);
  }
  100% {
    transform: skew(45deg);
  }
}

@keyframes layersGoAnim1 {
  0% {
    transform: skew(-45deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes layersGoAnim2 {
  0% {
    transform: skew(45deg);
  }
  100% {
    transform: skew(0);
  }
}

@keyframes descAnim1 {
  0% {
    transform: skew(0);
    opacity: 0;
  }
  100% {
    transform: skew(var(--skew-degree));
    opacity: 1;
  }
}

@keyframes descTextAnim1 {
  0% {
    transform: skew(0);
  }
  100% {
    transform: skew(var(--skew-degree-n));
  }
}

@keyframes descAnim2 {
  0% {
    transform: skew(0);
    opacity: 0;
  }
  100% {
    transform: skew(var(--skew-degree-n));
    opacity: 1;
  }
}

@keyframes descTextAnim2 {
  0% {
    transform: skew(0);
  }
  100% {
    transform: skew(var(--skew-degree));
  }
}


@keyframes closeSelectColorLineOneAnim {
  0% {
    transform: rotateZ(-90deg) translateY(7px) translateX(-10px);
  }
  50% {
    transform: rotateZ(-90deg) translateY(10px) translateX(-7px);
  }
  100% {
    transform: rotateZ(-90deg) translateY(7px) translateX(-10px);
  }
}

@keyframes closeSelectColorLineTwoAnim {
  0% {
    transform: translateY(10px) translateX(21px);
  }
  50% {
    transform: translateY(7px) translateX(24px);
  }
  100% {
    transform: translateY(10px) translateX(21px);
  }
}

@keyframes closeSelectColorLineThreeAnim {
  0% {
    transform: rotateZ(45deg) translateY(-7px) translateX(22.5px);
  }
  50% {
    transform: rotateZ(45deg) translateY(-10px) translateX(22.5px);
  }
  100% {
    transform: rotateZ(45deg) translateY(-7px) translateX(22.5px);
  }
}

@keyframes selectColorPackAnim {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
