@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes layersComeAnim1 {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-45deg);
  }
}

@keyframes layersComeAnim2 {
  0% {
    transform: skew(0);
    border-radius: 70px;
  }
  100% {
    transform: skew(45deg);
    border-radius: 0;
  }
}

@keyframes layersGoAnim1 {
  0% {
    border-radius: 70px;
    transform: skew(-45deg);
  }
  100% {
    transform: skew(0deg);
    border-radius: 0;
  }
}

@keyframes layersGoAnim2 {
  0% {
    transform: skew(45deg);
  }
  100% {
    transform: skew(0);
  }
}



@keyframes descAnim {
  0% {
    transform: skew(0);
    opacity: 0;
  }
  100% {
    transform: skew(45deg);
    opacity: 1;
  }
}

@keyframes descTextAnim {
  0% {
    transform: skew(0);
  }
  100% {
    transform: skew(-45deg);
  }
}