#modal {
  z-index: 20;
}

#menu-container {
  z-index: 10;
}

.page-container {
  z-index: 5;
}

.layer {
  z-index: 10;
}

.back-layer {
  z-index: 9;
}

.side-layer {
  z-index: 11;
}

.layer.not {
  z-index: -9999;
}

.back-layer.not {
  z-index: -9999;
}

.side-layer.not {
  z-index: -9999;
}

.traversing .layer {
  z-index: 10 !important;
}