body {
  width: 100vw;
}

#modal {
  z-index: 20;
}

#menu-container {
  z-index: 10;
}

.page-container {
  z-index: 5;
}

.zoom-out .page-container:hover {
  z-index: 99;
}

.layer.not {
  z-index: -9999;
}