body {
  width: 100vw;
}

#modal {
  z-index: 20;
}

#menu-container {
  z-index: 10;
}

.page-container {
  z-index: 5;
}

.layer {
  z-index: 10;
}

.layer.not {
  z-index: -9999;
}

.back-layer {
  z-index: 9;
}

.back-layer.not {
  z-index: -9999;
}

.layer, .back-layer {
  /* border: 50px solid rgba(0, 0, 0, 0.3); */
  /* border-radius: 70px; */
}