.page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8vh 8vw;
}

/* HOME */
.page {
  width: 100%;
  height: 100%;
  border: 1.2px solid #999;
  border-radius: 10vh;
  padding: 3vh;
}