#select-color {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  overflow: hidden;
  opacity: 1 !important;
  border-radius: 25px;
  border: 1px solid var(--layers-border-color)
}

.color-one,
.color-two,
.color-three {
  transition: 1s;
  border: 1px solid var(--layers-border-color)
}

.color-one {
  background: var(--color-one);
  z-index: 3;
}

.color-two {
  background: var(--color-three);
  z-index: 2;
}

.color-three {
  background: var(--color-two);
  z-index: 1;
}

/* open styles */
#select-color.open {
  width: 240px;
  height: 270px;
  display: flex;
  flex-direction: row;
}

#select-color.open .color-one,
#select-color.open .color-two,
#select-color.open .color-three {
  width: 33.33%;
  height: 100%;
}

#select-color.open .pack-one,
#select-color.open .pack-two,
#select-color.open .pack-three {
  background: hotpink;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 auto;
  cursor: pointer;
}

/* close styles */
#select-color.close {
  width: 50px;
  height: 50px;
  cursor: pointer;

}

#select-color.close .color-one,
#select-color.close .color-two,
#select-color.close .color-three {
  position: absolute;
  width: 25px;
  height: 25px;
}

#select-color.close .color-one {
  right: 49%;
  bottom: 48%;
  transform: skew(-30deg);
  transform-origin: bottom right;
  width: 35px;
  height: 27px;
}

#select-color.close .color-two {
  left: 50%;
  top: 50%;
  width: 45px;
  height: 25px;
  transform-origin: top left;
  transform: rotateZ(-60deg) translateX(-15px);
}

#select-color.close .color-three {
  left: 0;
  top: 50%;
  width: 35px;
  transform: skew(30deg) translateX(-3px);
}