#select-color-container {
  --pack-width: 50px;
}

#select-color-container.active {
  position: absolute;
  width: 100vw; 
  height: 100vh; 
  background: #0000;
}

#select-color-container.active .close-select-color {
  width: 33px;
  height: 33px;
  background: #ddd;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 10px;
  border-top-right-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

#select-color-container.active .close-select-color .line {
  position: absolute;
  width: 1.5px;
  height: 20px;
  background: #333;
  border-radius: 50px;
}

#select-color-container.active .close-select-color .line:first-child {
  transform-origin: top right;
  transform: rotateZ(-90deg) translateY(7px) translateX(-10px);
  height: 14px;
}

#select-color-container.active .close-select-color .line:nth-child(2) {
  transform-origin: top right;
  transform: translateY(10px) translateX(21px);
  height: 14px;
}

#select-color-container.active .close-select-color .line:nth-child(3) {
  transform-origin: top right;
  transform: rotateZ(45deg) translateY(-7px) translateX(22.5px);
  height: 18px;
}

#select-color-container.active .close-select-color .line:nth-child(4) {
  transform-origin: top right;
  transform: rotateZ(-90deg) translateY(-13px) translateX(-30px);
  height: 14px;
}

#select-color-container.active .close-select-color .line:nth-child(5) {
  transform-origin: top right;
  transform: translateY(30px) translateX(1px);
  height: 14px;
}

#select-color-container.active .close-select-color .line:nth-child(6) {
  transform-origin: top right;
  transform: rotateZ(45deg) translateY(21px) translateX(22.5px);
  height: 18px;
}

#select-color-container.active .close-select-color:hover .line:first-child {
  transform-origin: top right;
  transform: rotateZ(-90deg) translateY(27px) translateX(10px);
  height: 14px;
}

#select-color-container.active .close-select-color:hover .line:nth-child(2) {
  transform-origin: top right;
  transform: translateY(-10px) translateX(41px);
  height: 14px;
}

#select-color-container.active .close-select-color:hover .line:nth-child(3) {
  transform-origin: top right;
  transform: rotateZ(45deg) translateY(-35px) translateX(22.5px);
  height: 18px;
}

#select-color-container.active .close-select-color:hover .line:nth-child(4) {
  transform-origin: top right;
  transform: rotateZ(-90deg) translateY(7px) translateX(-10px);
  height: 14px;
}

#select-color-container.active .close-select-color:hover .line:nth-child(5) {
  transform-origin: top right;
  transform: translateY(10px) translateX(21px);
  height: 14px;
}

#select-color-container.active .close-select-color:hover .line:nth-child(6) {
  transform-origin: top right;
  transform: rotateZ(45deg) translateY(-7px) translateX(22.5px);
  height: 18px;
}

#select-color-container .desc {
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: rgb(200,200,200);
  padding: 2px 3px;
  border-radius: 5px;
  top: 55px;
  right: 18px;
  opacity: 0;
  outline-color: transparent;
  border-color: transparent;
}

#select-color-container.active .desc {
  position: absolute;
  opacity: 0;
}

#select-color-container.deactive:hover .desc {
  position: absolute;
  opacity: 1;
  top: 70px;
}

#select-color {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  overflow: hidden;
  opacity: 1 !important;
  border-radius: 25px;
  border: 1px solid var(--layers-border-color)
}

.color-one,
.color-two,
.color-three {
  transition: 1s;
}

.color-one {
  background: var(--color-one);
}

.color-two {
  background: var(--color-three);
}

.color-three {
  background: var(--color-two);
}

/* open styles */
#select-color.open {
  width: 240px;
  height: 270px;
  display: flex;
  flex-direction: row;
}

#select-color.open .color-one,
#select-color.open .color-two,
#select-color.open .color-three {
  width: 33.33%;
  height: 100%;
  padding-top: calc((112% - var(--pack-width)) / 2);
}

#select-color.open .pack-one,
#select-color.open .pack-two,
#select-color.open .pack-three {
  position: relative;
  width: var(--pack-width);
  height: 50px;
  border-radius: 25px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 7px 3px rgba(240, 240, 240, 0.4);
  animation: selectColorPackAnim 12s cubic-bezier(1,1,1,1) infinite;
}

#select-color.open .pack-two {
  animation-direction: reverse;
}

#select-color.open .slice-one,
#select-color.open .slice-two,
#select-color.open .slice-three {
  position: absolute;
}

#select-color.open .slice-one {
  right: 49%;
  bottom: 48%;
  transform: skew(-30deg);
  transform-origin: bottom right;
  width: 35px;
  height: 27px;
}

#select-color.open .slice-two {
  left: 50%;
  top: 50%;
  width: 45px;
  height: 27px;
  transform-origin: top left;
  transform: rotateZ(-60deg) translateX(-15px);
}

#select-color.open .slice-three {
  left: 0;
  top: 50%;
  width: 35px;
  height: 26px;
  transform: skew(30deg) translateX(-3px);
}

/* close styles */
#select-color.close {
  width: 50px;
  height: 50px;
  cursor: pointer;

}

#select-color.close .color-one,
#select-color.close .color-two,
#select-color.close .color-three {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--layers-border-color)
}

#select-color.close .color-one {
  right: 49%;
  bottom: 48%;
  transform: skew(-30deg);
  transform-origin: bottom right;
  width: 35px;
  height: 27px;
}

#select-color.close .color-two {
  left: 50%;
  top: 50%;
  width: 45px;
  height: 25px;
  transform-origin: top left;
  transform: rotateZ(-60deg) translateX(-15px);
}

#select-color.close .color-three {
  left: 0;
  top: 50%;
  width: 35px;
  transform: skew(30deg) translateX(-3px);
}

#select-color.close .pack-one,
#select-color.close .pack-two,
#select-color.close .pack-three {
  display: none;
}