#menu-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 99999px;
  cursor: pointer;
  overflow: hidden;
}

#menu {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 8px;
  left: 8px;
  background: rosybrown;
  border-radius: 99999px;
}

#shadow {
  position: absolute;
  top: -38px;
  left: 5px;
  width: 34px;
  height: 34px;
  background: rosybrown;
  border-radius: 99999px;
}

#menu-desc {
  position: fixed;
  top: 15px;
  left: 0;
  color: rosybrown;
  font-size: 300%;
  opacity: 0;
  background: transparent;
  padding-left: 20px;
}

#menu-container:hover #menu-desc {
  left: 60px;
  opacity: 0.9;
}

#menu-container:hover #menu {
  width: 34px;
  height: 34px;
  top: 55px;
  left: 8px;
}

#menu-container:hover #shadow {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 8px;
  left: 8px;
  border-radius: 99999px;
}

#menu-cover-for-hover {
  position: fixed;
  width: 200px;
  height: 70px;
  top: 0;
  left: 0;
  opacity: 0;
}