#modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
}

.modal-off {
  display: none;
  animation: fjfvzfjbvk 1s ease-in;
}

@keyframes fjfvzfjbvk {
  0% {
    /* margin-top: initial; */
  }
  100% {
    /* margin-top: 50px; */ 
  }
}

.modal-on {
  display: block;
}

.modal-come #modal-container {
  animation: modalComeAnim 1s ease-out;
}

@keyframes modalComeAnim {
  from {
    transform: rotateZ(41deg);
    /* margin-top: 15vh; */
    opacity: 0;
  }
  to {
    transform: rotateZ(0);
    /* margin-top: 5vh; */
    opacity: 1;
  }
}

@keyframes ModalGoAnim {
  from {
    transform: rotateZ(0);
    /* margin-top: 5vh; */
    opacity: 1;
  }
  to {
    transform: rotateZ(-41deg);
    /* margin-top: 15vh; */
    opacity: 0;
  }
}

.modal-go #modal-container {
  opacity: 0;
  animation: ModalGoAnim 700ms ease-in;
}

.modal-go {
  animation: fadeOut 0.31s ease-out;
  animation-delay: 0.7s;
}

.modal-come {
  animation: fadeOut 0.31s ease-in reverse;
}

#modal-container {
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  background-color: #f4f4f4;
  border-radius: 10px;
  position: relative;
  transform-origin: 50% 300%;
}

#modal-close {
  position: absolute;
  top: 6px;
  left: 96.5%;
  font-size: 200%;
  color: tomato;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0 !important;
}