#modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
}

.modal-off {
  display: none;
  animation: fjfvzfjbvk 1s ease-in;
}

@keyframes fjfvzfjbvk {
  0% {
    /* margin-top: initial; */
  }
  100% {
    /* margin-top: 50px; */ 
  }
}

.modal-on {
  display: block;
}

.modal-come #modal-container {
  /* animation: dhbvjsdhbfj 1s ease-in; */
}

@keyframes dhbvjsdhbfj {
  from {
    transform: rotateZ(-7deg);
    margin-top: 5vh;
    opacity: 1;
  }
  to {
    transform: rotateZ(-31deg);
    margin-top: 15vh;
    opacity: 0;
  }
}

.modal-go #modal-container {
  opacity: 0;
  animation: dhbvjsdhbfj 700ms ease-out;
}

.modal-go {
  animation: szxcvbjnjb 0.31s ease-out;
  animation-delay: 0.7s;
}

@keyframes szxcvbjnjb {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#modal-container {
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  background-color: #f4f4f4;
  border-radius: 10px;
  position: relative;
  transform-origin: 96.5% 26px;
  /* transform: translateY(600px); */
}

.modal-hanging {
  transform: rotateZ(-7deg);
}

#modal-close {
  position: absolute;
  top: 6px;
  left: 96.5%;
  font-size: 200%;
  color: #999;
  /* border: 1px solid red; */
  cursor: pointer;
}